@import '../../scss/_vars.scss';

li {
  font-family: sans-serif;
  color: $hack-fraud-white;
  font-size: 12px;
  font-weight: 100;
}

.episode:hover .episode--title {
  color: $hack-fraud-orange;
}

.episode {
  width: 571px;
  height: 107px;
  border: 1px solid $hack-fraud-white;
  border-radius: 5px;
  background-color: $hack-fraud-black;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &--thumbnail {
    display: block;
    float: left;
    height: 107px;
    width: auto;
    padding-right: 10px;

    &__image {
      max-height: 100%;
    }
  }

  &--title {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: $hack-fraud-white;
    padding: 10px;
    transition: color 0.3s ease-in-out;
  }

  &--expand {
    background-color: $hack-fraud-white;
    position: absolute;
    transform:rotate(45deg);
    right: -25px;
    bottom: -25px;
    width: 50px;
    height: 50px;
  }

  span {
    font-family: sans-serif;
    color: $hack-fraud-white;
  }
}
