<div class="button button--episode-types"
     *ngFor="let episodeType of this.hfService.getEpisodeTypes()"
     (click)="this.hfService.selectEpisodeFilter(episodeType)"
     [ngClass]="{'selected' : this.hfService.episodeTypeIsSelected(episodeType)}">
  <div class="button--episode-types__toggle"><div></div></div>
  <span class="button--episode-types__text">{{ episodeType }}</span>
</div>
<div class="button button--order"><span>^</span></div>
<div class="button button--clear" (click)="this.hfService.resetEpisodeFilters()"><span>Reset</span></div>
