@import '../../scss/_vars.scss';

.button {
  display: inline-block;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  &--episode-types {
    background-color: $hack-fraud-grey;
    width: 185px;
    -webkit-transition: .3s;
    transition: .3s;

    &:nth-child(3n + 3){
      margin-right: 0px;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0px;
    }

    &__toggle {
      width: 28px;
      height: 16px;
      background-color: $hack-fraud-black;
      border-radius: 8px;
      margin: 2px;
      display: inline-block;
      vertical-align: middle;

      div {
        float: left;
        width: 12px;
        height: 12px;
        background-color: $hack-fraud-grey;
        border-radius: 6px;
        margin: 2px;
        -webkit-transition: .3s;
        transition: .3s;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &__text {
      vertical-align: middle;
      font-family: sans-serif;
      font-weight: bold;
      color: $hack-fraud-black;
    }
  }

  &--order,
  &--clear {
    background-color: $hack-fraud-white;
    width: auto;

    span {
      vertical-align: middle;
      font-family: sans-serif;
      font-weight: bold;
      margin-left: 7px;
      margin-right: 7px;
      color: $hack-fraud-black;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: $hack-fraud-grey;
    }
  }
}

.selected {
  background-color: $hack-fraud-white;

  .button--episode-types__toggle > div {
    background-color: $hack-fraud-white;
    -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
            transform: translateX(12px);
  }
}
