@import '../scss/_vars.scss';

app-character-select {
  grid-area: characters;
  text-align: center;
  position: sticky;
  top: 75px;
  height: 680px;
  padding-top: 20px;
}

app-episode-filters {
  grid-area: episode-filters;
  position: sticky;
  padding-top: 20px;
  top: 75px;
  height: 90px;
  background-color: $hack-fraud-black;
  z-index: 99;
}

app-episodes {
  grid-area: episodes;
}
