@import '../../scss/_vars.scss';

div {
  width: 95px;
  height: 105px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition:
    box-shadow 0.3s ease-in-out,
    filter 0.3s ease-in-out;

  &:nth-child(3n + 3),
  &:last-child {
    margin-right: 0px;
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0px;
  }

  img {
    max-width: 95px;
    max-height: 105px;
  }

  &:hover:not(.unselectable) {
    @include shadow($hack-fraud-white);
    cursor: pointer;
  }
}

.selected {
  @include shadow($hack-fraud-orange);
}

.unselectable {
  -webkit-filter: brightness(30%) saturate(60%);
          filter: brightness(30%) saturate(60%);
  @include shadow(black);
}
