@import 'scss/_vars.scss';

*{
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $hack-fraud-black;
  overflow-y: scroll;
}

#banner {
  background-color: $hack-fraud-white;
  height: 75px;
  text-align: center;
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 60px;
  line-height: 75px;
  color: $hack-fraud-orange;
  position: sticky;
  top: 0px;
  z-index: 100;

  span {
    font-size: 40px;
    color: $hack-fraud-black;
  }
}

app-root {
  display: grid;
  grid-template-columns: auto 305px 575px auto;
  grid-column-gap: 30px;
  grid-template-rows: 0px 120px auto;
  grid-template-areas:
    '. . . .'
    '. characters episode-filters .'
    '. characters episodes .';
}
